# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.settings/
bin/

# Maven
target/

# Gradle
.gradle/
build/

# MacOS
.DS_Store

# Temporary files
*.swp
*.tmp
*.temp