.admin-container {
    padding: 20px;
    text-align: center;
}

.admin-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.action {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    margin: 10px;
}

.admin-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

.admin-button:hover {
    background-color: #0056b3;
}