.homepage-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
  
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
  
.text-container {
    position: absolute;
    top: 30%;
    width: 120%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-8%, 0);
}
  
.content-wrapper {
    text-align: center;
    position: relative;
    top: -200px;
}
  
.buttons {
    margin-bottom: 30px;
}
  
.button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
  
.button:hover {
    background-color: #ddd;
}
  
.description {
    max-width: 600px;
}
  
/* модальное окно */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transform: scale(0.9); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
    visibility: hidden; 
}

.modal-visible {
    opacity: 1; 
    transform: scale(1); 
    visibility: visible; 
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
    position: relative; 
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.login-button:hover {
    background-color: #0056b3;
}